<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://framework-gb.cdn.gob.mx/favicon.ico">

    <!-- CSS -->
    <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/fixed.css">

    <!-- Framework del gobierno -->
    <script type="text/javascript" src="/js/lib/gobmx.js"></script>
    <script type="text/javascript" src="/js/lib/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>

    <title>Inicio de sesión </title>
</head>

<body>
    <!-- Alerta de error de contraseña -->
    <div class="alert alert-danger alert-dismissible fade out" role="alert" id="myAlert">
        <a class="close" onclick="$('.alert').toggleClass('in out');">×</a>
        <strong>Error!</strong>
        <t id="error-msg"></t>
    </div>

    <!-- Contenido -->
    <main class="page">
        <div class="container">
            <form class="form-horizontal" role="form">
                <!-- Correo -->
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="email">Número de empleado:</label>
                    <div class="col-sm-9 input-group">
                        <input class="form-control" id="email" name="email" placeholder="Número de empleado"
                            type="text">
                    </div>
                </div>
               <!--   Contraseña 
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="password">Contraseña:</label>
                    <div class="col-sm-9 input-group">
                        <input class="form-control" id="password-field" name="password" placeholder="Contraseña"
                            type="password">
                        <div class="input-group-addon">
                            <span toggle="#password-field" class="glyphicon glyphicon-eye-open toggle-password"></span>
                        </div>
                    </div>
                </div> -->
                <!-- Abrir modal de autenticación -->
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <a href="{{url_for('recover')}}" class="display: none;" type="button" id="change-password"
                            hidden>Cambiar contraseña</a>
                        <button class="btn btn-primary pull-right" type="button" id="submit">Entrar</button>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <!-- Modal para autenticación de dos pasos -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Mensaje del sistema</h4>
                </div>
                <div class="modal-body">
                    <p>Se envió un código a su correo para que pueda ingresar, en caso de no recibirlo de clic en
                        <b>volver a
                            enviar</b>.</p>
                    <p id="text-modal"></p>
                    <form name="modalform" id="modal-form" class="form-inline" role="form"
                        action="{{ url_for('menu') }}" method="POST">
                        <div class="form-group mb-2">
                            <label class="control-label" for="auth-code">Código:</label>
                            <input class="form-control" id="auth-code" name="code" type="text" required>
                        </div>

                        <button class="btn btn-primary btn-sm" type="button" id="submit-modal">Enviar</button>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" id="resend">Volver a enviar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>

</html>