main {
    height:100vh !important; 
    margin:0 !important;
}

.main-footer,
#fotter {
    /* position: fixed !important;
    margin-top: 10rem !important;
    bottom: 0 !important;
    width: 100% !important; */
    clear: both !important;
    position: relative !important;
    height: auto !important;
    margin-top: -46rem !important;
}

.my-space {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.bottom-space {
    margin-top: 20rem !important;
}

.header,
#header,
.navbar {
    margin-bottom: 30rem !important;
    /* position: fixed !important; */
    z-index: 1 !important;
}

.btn-right {
    margin-right: 1.6rem !important;
}

.btn-space {
    margin-right: 1.6rem !important;
    margin-left: 1.6rem !important;
 }

/* Style buttons */
.action-btn {
    border: none; /* Remove borders */
    color: #9d2449; /* White text */
    cursor: pointer; /* Mouse pointer on hover */
    font-size: 1.8rem; /* Set a font size */
    padding: 0.6rem 1.2rem; /* Some padding */
}

/* Darker background on mouse-over */
.action-btn:hover {
    background-color: #9d2449;
    color: #ffffff;
}
