<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://framework-gb.cdn.gob.mx/favicon.ico">
    <!-- CSS -->
    <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/fixed.css">

    <!-- Framework del gobierno -->
    <script type="text/javascript" src="/js/lib/gobmx.js"></script>
    <script type="text/javascript" src="/js/lib/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="/js/note.js"></script>

    <title> Calificaciones </title>
</head>

<body>
    <!-- Contenido -->
    <main class="page pt-5">
        <div class="container">

            <h2 class="bottom-buffer">Calificaciones</h2>

            <div id="modalResponse" class="alert alert-dismissible hide">
                <button type="button" class="close" onclick="closeAlert();" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong id="titleResponse"></strong> <span id="msgResponse"></span>
            </div>

            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Estudiante</th>
                        <th>Materia</th>
                        <th>Calificación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="note: ${notes}">
                        <td th:text="${note.subject}" />
                        <td th:text="${note.curp}" />
                        <td th:text="${note.score}" />
                        <td>
                            <span 
                                class="action-btn btn-right glyphicon glyphicon-pencil" 
                                aria-hidden="true"
                                title="Editar"
                                th:attr="onclick=|location.href = '/edit/note/${note.noteId}'|"
                            ></span>
                            <span 
                                class="action-btn glyphicon glyphicon-trash" 
                                aria-hidden="true"
                                data-toggle="modal" 
                                th:attr="data-target=|#${note.noteId}|"
                                title="Eliminar"
                            ></span>
                        </td>
                        <div th:id="${note.noteId}" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">  
                                      <h4 class="modal-title"><strong>Confirme eliminación</strong></h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>¿Esta seguro que desea eliminar la calificación de <strong th:text="${note.subject}"></strong> de <strong th:text="${note.curp}"></strong>?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button 
                                            type="button" 
                                            class="btn btn-default" 
                                            data-dismiss="modal">
                                            Cerrar
                                        </button>
                                        <button 
                                            type="button" 
                                            class="btn btn-primary" 
                                            th:attr="onclick=|deleteNote('${note.noteId}')|" 
                                            data-dismiss="modal">
                                            Eliminar
                                        </button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </tr>
                </tbody>
            </table>

            <div class="pull-right">
                <button 
                    class="btn btn-danger" 
                    type="button"
                    onclick="location.href = '/index.html';">
                    Atras
                </button>
                <!-- <button 
                    class="btn btn-danger" 
                    type="button"
                    onclick="testDB(4);">
                    Limpiar
                </button> -->
            </div>
        </div>
    </main>
</body>

</html>