<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://framework-gb.cdn.gob.mx/favicon.ico">
    <!-- CSS -->
    <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/fixed.css">

    <!-- Framework del gobierno -->
    <script type="text/javascript" src="/js/lib/gobmx.js"></script>
    <script type="text/javascript" src="/js/lib/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="/js/form.js"></script>

    <title> Estudiantes </title>
</head>

<body>
    <!-- Contenido -->
    <main class="page pt-5">
        <div class="container">

            <h2 class="bottom-buffer">Estudiantes</h2>

            <div id="modalResponse" class="alert alert-dismissible hide">
                <button type="button" class="close" onclick="closeAlert();" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong id="titleResponse"></strong> <span id="msgResponse"></span>
            </div>

            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>CURP</th>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Estado</th>
                        <th>Grado</th>
                        <th>Grupo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="student: ${students}">
                        <td th:text="${student.curp}" />
                        <td th:text="${student.name} + ' ' + *{student.lastName} + ' ' + *{student.motherName}" />
                        <td th:text="${student.age}" />
                        <td th:text="${student.state}" />
                        <td th:text="${student.level}" />
                        <td th:text="${student.group}" />
                        <td>
                            <span 
                                class="action-btn btn-right glyphicon glyphicon-plus" 
                                aria-hidden="true"
                                title="Nueva calificación"
                                th:attr="onclick=|location.href = '/new/note/${student.curp}'|"
                            ></span>

                            <span 
                                class="action-btn btn-right glyphicon glyphicon-pencil" 
                                aria-hidden="true"
                                title="Editar"
                                th:attr="onclick=|location.href = '/edit/student/${student.curp}'|"
                            ></span>

                            <span 
                                class="action-btn glyphicon glyphicon-trash" 
                                aria-hidden="true"
                                data-toggle="modal" 
                                th:attr="data-target=|#${student.curp}|"
                                title="Eliminar"
                            ></span>
                            
                        </td>
                        <div th:id="${student.curp}" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">  
                                      <h4 class="modal-title"><strong>Confirme eliminación</strong></h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>¿Esta seguro que desea eliminar a <strong th:text="${student.curp}"></strong>?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn btn-primary" th:attr="onclick=|deleteStudent('${student.curp}')|" data-dismiss="modal">Eliminar</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </tr>
                </tbody>
            </table>

            <div class="pull-right">
                <button 
                    class="btn btn-danger" 
                    type="button"
                    onclick="location.href = '/index.html';">
                    Atras
                </button>
                <button 
                    class="btn btn-primary" 
                    type="button"
                    onclick="location.href = '/new/student/students'">
                    Nuevo
                </button>
                <button 
                    class="btn btn-danger" 
                    type="button"
                    onclick="testDB(2);">
                    Limpiar
                </button>
            </div>
        </div>
    </main>
</body>

</html>